Downloads
.bashrc
.local
.mozilla
.bash_history
.bash_logout
.cache
.config
.gnupg
.gitconfig
.profile
.python_history
.ssh
.sudo_as_admin_successful
.tmux
.vim
.viminfo
.wget-hsts
dotfiles
snap
tmux-*
